
[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
tgcrypto = "*"
python-dotenv = "*"
bs4 = "*"
pyaes = "*"
pysocks = "*"

[dev-packages]
flask = "*"
pyrogram = "*"

[requires]
python_version = "3.7"
